/* 1. Your custom variables and variable overwrites.*/

$navbar-nav-item-height: 50px;
$navbar-background: #fff;

/* 2. Import default variables and available mixins.*/

@import "../uikit/variables-theme.scss";
@import "../uikit/mixins-theme.scss";

/* 3. Your custom mixin overwrites.*/


/* 4. Import UIkit.*/

@import "../uikit/uikit-theme.scss";

/*custom styles */

// main container height
.main-container {
    min-height: calc(100vh - 100px);
    background-color: $global-muted-background;
}

//page header style
.page-header {
    padding-top: 20px;
    .uk-heading-bullet {
        margin-bottom: 5px;
    }
    .uk-breadcrumb {
        margin: 0;
    }
}